
name: Deploy Price API Service

on:
  push:
    branches:
      - development

env:
  DEPLOY_PROJECT_ID: ${{ vars.DEPLOY_PROJECT_ID }}
  DEPLOY_REGION: ${{ vars.DEPLOY_REGION }}
  DEPLOY_ARTIFACT_REPO: ${{ vars.DEPLOY_ARTIFACT_REPO }}
  DEPLOY_IMAGE_NAME: ${{ vars.DEPLOY_IMAGE_NAME }}
  DEPLOY_CLOUD_RUN_SERVICE: ${{ vars.DEPLOY_CLOUD_RUN_SERVICE }}
  DEPLOY_SQL_INSTANCE: ${{ vars.DEPLOY_SQL_INSTANCE }}

  NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY: ${{ secrets.NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY }}
  CLERK_SECRET_KEY: ${{ secrets.CLERK_SECRET_KEY }}
  NEXT_PUBLIC_CLERK_SIGN_IN_URL: /auth/sign-in
  NEXT_PUBLIC_CLERK_SIGN_UP_URL: /auth/sign-up
  NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL: /dashboard/overview
  NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL: /dashboard/overview

  NEXT_PUBLIC_SENTRY_DISABLED: false

  INSTANCE_CONNECTION_NAME: ${{ secrets.INSTANCE_CONNECTION_NAME }}
  DB_USER: ${{ secrets.DB_USER }}
  DB_NAME: ${{ secrets.DB_NAME }}

  GOOGLE_CLOUD_PROJECT: ${{ secrets.GOOGLE_CLOUD_PROJECT }}

jobs:
  deploy-api:
    name: Deploy Price API to ${{ github.ref_name == 'main' && 'PROD' || 'DEV' }}
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name == 'main' && 'PROD' || 'DEV' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Configure project
        run: gcloud config set project $DEPLOY_PROJECT_ID

      - name: Configure Docker for Artifact Registry
        run: gcloud auth configure-docker $DEPLOY_REGION-docker.pkg.dev

      - name: Build Docker image
        run: |
          IMAGE_TAG="$DEPLOY_REGION-docker.pkg.dev/$DEPLOY_PROJECT_ID/$DEPLOY_ARTIFACT_REPO/$DEPLOY_IMAGE_NAME:latest"
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV
          docker build --platform linux/amd64 -f Dockerfile \
          --build-arg CLERK_SECRET_KEY=$CLERK_SECRET_KEY \
          --build-arg NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=$NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY \
          --build-arg NEXT_PUBLIC_CLERK_SIGN_IN_URL=$NEXT_PUBLIC_CLERK_SIGN_IN_URL \
          --build-arg NEXT_PUBLIC_CLERK_SIGN_UP_URL=$NEXT_PUBLIC_CLERK_SIGN_UP_URL \
          --build-arg NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=$NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL \
          --build-arg NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=$NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL \
          --build-arg NEXT_PUBLIC_SENTRY_DSN=$NEXT_PUBLIC_SENTRY_DSN \
          --build-arg NEXT_PUBLIC_SENTRY_ORG=$NEXT_PUBLIC_SENTRY_ORG \
          --build-arg NEXT_PUBLIC_SENTRY_PROJECT=$NEXT_PUBLIC_SENTRY_PROJECT \
          --build-arg NEXT_PUBLIC_SENTRY_DISABLED=$NEXT_PUBLIC_SENTRY_DISABLED \
          -t $IMAGE_TAG .

      - name: Push image to Artifact Registry
        run: docker push $IMAGE_TAG

      - name: Deploy to Cloud Run
        run: |
          CONNECTION_NAME="$DEPLOY_PROJECT_ID:$DEPLOY_REGION:$DEPLOY_SQL_INSTANCE"

          gcloud run deploy $DEPLOY_CLOUD_RUN_SERVICE \
            --image $IMAGE_TAG \
            --region $DEPLOY_REGION \
            --add-cloudsql-instances $CONNECTION_NAME \
            --service-account intranet-service-account@$DEPLOY_PROJECT_ID.iam.gserviceaccount.com \
            --set-env-vars NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=$NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY \
            --set-env-vars CLERK_SECRET_KEY=$CLERK_SECRET_KEY \
            --set-env-vars NEXT_PUBLIC_CLERK_SIGN_IN_URL=$NEXT_PUBLIC_CLERK_SIGN_IN_URL \
            --set-env-vars NEXT_PUBLIC_CLERK_SIGN_UP_URL=$NEXT_PUBLIC_CLERK_SIGN_UP_URL \
            --set-env-vars NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=$NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL \
            --set-env-vars NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=$NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL \
            --set-env-vars NEXT_PUBLIC_SENTRY_DSN= \
            --set-env-vars NEXT_PUBLIC_SENTRY_ORG= \
            --set-env-vars NEXT_PUBLIC_SENTRY_PROJECT= \
            --set-env-vars SENTRY_AUTH_TOKEN= \
            --set-env-vars NEXT_PUBLIC_SENTRY_DISABLED=$NEXT_PUBLIC_SENTRY_DISABLED \
            --set-env-vars INSTANCE_CONNECTION_NAME=$INSTANCE_CONNECTION_NAME \
            --set-env-vars DB_USER=$DB_USER \
            --set-env-vars DB_NAME=$DB_NAME \
            --set-env-vars GOOGLE_CLOUD_PROJECT=$GOOGLE_CLOUD_PROJECT \
            --platform managed \
            --no-invoker-iam-check \
            --memory=512Mi \
            --cpu=1 \
            --max-instances=4 \
            --port=80
